/* welcome */
.welcome {
    font-family: 'Inter';
    width: 1400px;
    height: 559px;
}

/* Backround welcome  */
.welcome-background {
    width: 1400px;
    height: 559px;
    background: url(/images/welcome/bcg1.jfif) no-repeat center ;
    background-size: cover;


}

.welcome-background-layer {
    width: 1400px;
    height: 559px;

    background: rgba(0, 0, 0, 0.8);

}

.welcome-word-layer{
    height: 550px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.welcome-word1 {
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.welcome-word2 {
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}




